<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="content">
        <div class="container">
            <h1 class="header">Welcome to FinTrack</h1>
            <p class="subheader">Your Trusted Financial Tracking Solution</p>
            <div class="cta-wrapper">
                <a class="action-button" href="{{ url_for('login') }}">Get Started<span class="ripple"></span></a>
            </div>
        </div>
    </div>
</body>
</html>
