<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>FinTrack Login Form</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="">
        <h3>Login Here</h3>
        {{ form.hidden_tag() }}
        <div class="flash-messages">
            {% with messages = get_flashed_messages(category_filter=["danger"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <label for="{{ form.email.id }}">Email</label>
        {{ form.email(class="your-email-class") }}
        <label for="{{ form.password.id }}">Password</label>
        {{ form.password(class="your-password-class") }}
        <div class="remember-me">
            <input type="checkbox" class="your-checkbox-class" id="{{ form.remember.id }}" />
            <label for="{{ form.remember.id }}">Remember Me</label>
        </div>
        <button class="your-submit-class" type="submit">Log In</button>
        <a class="go-home-button" href="{{ url_for('home') }}">Go Home</a>
        <a class="register-button" href="{{ url_for('register') }}">Don't Have an Account? Sign Up</a>
        <a class="register-button" href="{{ url_for('reset_request') }}">Forgot Password?</a>
    </form>
</body>
</html>
